<div class="card" style="width: 81%; margin-left: 18rem; height: 880px">
  <div style="text-align: center">
    <h1>Employee Management</h1>
  </div>
  <div align="center">
    <form method="post">
      <h2>Add New Employee</h2>
      <table class="table-sm" th:object="${employee}">
        <tr>
          <th>Employee ID:</th>
          <td>
            <input
              placeholder="NV-0000,NV-1111,..."
              type="text"
              th:field="*{employeeId}"
            />
            <p
              style="color: red"
              th:if="${#fields.hasErrors('employeeId')}"
              th:errors="*{employeeId}"
            ></p>
          </td>
        </tr>
        <tr>
          <th>Employee Name:</th>
          <td>
            <input
              placeholder="Nguyễn Văn A"
              type="text"
              th:field="*{employeeName}"
            />
            <p
              style="color: red"
              th:if="${#fields.hasErrors('employeeName')}"
              th:errors="*{employeeName}"
            ></p>
          </td>
        </tr>
        <tr>
          <th>Employee Birthday:</th>
          <td>
            <input type="date" th:field="*{employeeBirthday}" />
            <p
              style="color: red"
              th:if="${#fields.hasErrors('employeeBirthday')}"
              th:errors="*{employeeBirthday}"
            ></p>
          </td>
        </tr>
        <tr>
          <th>Employee Id card:</th>
          <td>
            <input
              placeholder="00000000,11111111,..."
              type="text"
              th:field="*{employeeIdCard}"
            />
            <p
              style="color: red"
              th:if="${#fields.hasErrors('employeeIdCard')}"
              th:errors="*{employeeIdCard}"
            ></p>
          </td>
        </tr>
        <tr>
          <th>Employee Salary:</th>
          <td>
            <input
              placeholder="100000,10000000,...."
              type="text"
              th:field="*{employeeSalary}"
            />
            <p
              style="color: red"
              th:if="${#fields.hasErrors('employeeSalary')}"
              th:errors="*{employeeSalary}"
            ></p>
          </td>
        </tr>
        <tr>
          <th>Employee Phone:</th>
          <td>
            <input
              placeholder="0123456789"
              type="text"
              th:field="*{employeePhone}"
            />
            <p
              style="color: red"
              th:if="${#fields.hasErrors('employeePhone')}"
              th:errors="*{employeePhone}"
            ></p>
          </td>
        </tr>
        <tr>
          <th>Employee Email:</th>
          <td>
            <input
              placeholder="abc@abc.abc,..."
              type="text"
              th:field="*{employeeEmail}"
            />
            <p
              style="color: red"
              th:if="${#fields.hasErrors('employeeEmail')}"
              th:errors="*{employeeEmail}"
            ></p>
          </td>
        </tr>
        <tr>
          <th>Employee Address:</th>
          <td>
            <input type="text" th:field="*{employeeAddress}" />
          </td>
        </tr>
        <tr>
          <th>Position:</th>
          <td>
            <select th:field="*{position.positionId}">
              <option
                th:each="p:${position}"
                th:value="${p.positionId}"
                th:text="${p.positionName}"
              ></option>
            </select>
          </td>
        </tr>
        <tr>
          <th>Education Degree:</th>
          <td>
            <select th:field="*{educationDegree.educationDegreeId}">
              <option
                th:each="e:${educationDegree}"
                th:value="${e.educationDegreeId}"
                th:text="${e.educationDegreeName}"
              ></option>
            </select>
          </td>
        </tr>
        <tr>
          <th>Division:</th>
          <td>
            <select th:field="*{division.divisionId}">
              <option
                th:each="d:${division}"
                th:value="${d.divisionId}"
                th:text="${d.divisionName}"
              ></option>
            </select>
          </td>
        </tr>
        <tr>
          <td colspan="2" align="center">
            <a
              type="button"
              th:href="@{/employee/list}"
              class="btn btn-outline-secondary"
              >Close</a
            >
            <input type="submit" value="Save" class="btn btn-outline-success" />
          </td>
        </tr>
      </table>
    </form>
  </div>
</div>
